@if (showBackButton$ | async) {
  <ds-results-back-button [back]="back"></ds-results-back-button>
}
@if (iiifEnabled) {
  <div class="row">
    <div class="col-12">
      <ds-mirador-viewer id="iiif-viewer"
        [object]="object"
        [searchable]="iiifSearchEnabled"
        [query]="iiifQuery$ | async">
      </ds-mirador-viewer>
    </div>
  </div>
}

<div class="d-flex flex-row">
  <ds-item-page-title-field [item]="object" class="me-auto">
  </ds-item-page-title-field>
  <ds-dso-edit-menu></ds-dso-edit-menu>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4">
    @if (!(mediaViewer.image || mediaViewer.video)) {
      <ds-metadata-field-wrapper [hideIfNoTextContent]="false">
        <ds-thumbnail [thumbnail]="object?.thumbnail | async"></ds-thumbnail>
      </ds-metadata-field-wrapper>
    }
    @if (mediaViewer.image || mediaViewer.video) {
      <div class="mb-2">
        <ds-media-viewer [item]="object"></ds-media-viewer>
      </div>
    }
    <ds-item-page-file-section [item]="object"></ds-item-page-file-section>
    <ds-item-page-date-field [item]="object"></ds-item-page-date-field>
    <ds-metadata-representation-list class="ds-item-page-mixed-author-field"
      [parentItem]="object"
      [itemType]="'Person'"
      [metadataFields]="['dc.contributor.author', 'dc.creator']"
      [label]="'item.page.authors' | translate">
    </ds-metadata-representation-list>
    <!-- TAMU Customization - Principal Investigator  -->
    <ds-metadata-representation-list class="ds-item-page-mixed-author-field"
      [parentItem]="object"
      [itemType]="'Person'"
      [metadataFields]="['dc.creator.pi']"
      [label]="'item.page.principal-investigators' | translate">
    </ds-metadata-representation-list>
    <!-- END TAMU Customization - Principal Investigator  -->
    <!-- TAMU Customization - Co-Principal Investigator -->
    @if (hasCoPrincipalInvestigator(object)) {
      <div class="simple-item-view-element">
        <h2 class="simple-view-element-header fs-4">{{"item.page.co-principal-investigators" | translate}}</h2>
        <div class="mb-2">
          <ul class="list-unstyled">
            @for (copi of object.allMetadata('dc.creator.copi'); track copi) {
              <li>
                <span>{{copi.value}}</span>
              </li>
            }
          </ul>
        </div>
      </div>
    }
    <!-- END TAMU Customization - Co-Principal Investigator -->
    <!-- TAMU Customization - Department  -->
    <ds-metadata-representation-list class="ds-item-page-mixed-author-field"
      [parentItem]="object"
      [metadataFields]="['dc.contributor.department']"
      [label]="'item.page.department' | translate">
    </ds-metadata-representation-list>
    <!-- END TAMU Customization - Department  -->
    <ds-generic-item-page-field [item]="object"
      [fields]="['journal.title']"
      [label]="'item.page.journal-title'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['journal.identifier.issn']"
      [label]="'item.page.journal-issn'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['journalvolume.identifier.name']"
      [label]="'item.page.volume-title'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.publisher']"
      [label]="'item.page.publisher'">
    </ds-generic-item-page-field>
  </div>
  <div class="col-xs-12 col-md-6">

    <!-- TAMU Customization - Expand/collapse abstract -->
    <!-- <ds-item-page-abstract-field [item]="object"></ds-item-page-abstract-field> -->
    @if (hasAbstract(object)) {
      <div class="truncate-container clearfix">
        <div class="content-wrapper" [ngClass]="{ 'expanded': expanded }">
          <div class="content">
            <rdc-ds-item-page-abstract-field [item]="object" [label]="getAbstractLabel(object)"></rdc-ds-item-page-abstract-field>
          </div>
          @if (!expanded) {
            <div class="fade-out"></div>
          }
        </div>
        <button class="btn btn-link expand-toggle mt-2 mb-2 float-right" (click)="toggleExpand()">
          @if (!expanded) {
            <span><i class="fa fa-chevron-down mr-1"></i>{{ 'item.truncatable-part.show-more' | translate }}</span>
          }
          @if (expanded) {
            <span><i class="fa fa-chevron-up mr-1"></i>{{ 'item.truncatable-part.show-less' | translate }}</span>
          }
        </button>
      </div>
    }
    <!-- END TAMU Customization - Expand/collapse abstract -->
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.description']"
      [label]="'item.page.description'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.subject']"
      [separator]="', '"
      [label]="'item.page.subject'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.identifier.citation']"
      [label]="'item.page.citation'">
    </ds-generic-item-page-field>
    @if (geospatialItemPageFieldsEnabled) {
      <ds-geospatial-item-page-field [item]="object"
        [label]="'item.page.places'"
        [pointFields]="['dcterms.spatial']"
        [bboxFields]="['dcterms.spatial']"
        [cluster]="true"
        >
      </ds-geospatial-item-page-field>
    }
    <ds-item-page-uri-field [item]="object"
      [fields]="['dc.identifier.uri']"
      [label]="'item.page.uri'">
    </ds-item-page-uri-field>
    <ds-item-page-collections [item]="object"></ds-item-page-collections>

    <!-- TAMU Customization - Research project link -->
    @if (hasProject(object)) {
      <div class="simple-item-view-element mb-2">
        <h2 class="simple-view-element-header fs-4">{{"item.page.research-project" | translate}}</h2>
        @if (hasProject(object)) {
          <div>
            <a href="{{object.firstMetadataValue('dc.relation.sourceResearchProject')}}" role="button">
              {{object.firstMetadataValue('dc.title.project')}}
            </a>
          </div>
        }
      </div>
    }
    <!-- END TAMU Customization - Research project link -->

    <!-- TAMU Customization - dataset links -->
    @if (hasDatasets(object)) {
      <div class="simple-item-view-element mb-2">
        <h2 class="simple-view-element-header fs-4">{{"item.page.associated-datasets" | translate}}</h2>
        @if (getDatasets(object); as datasets) {
          <div>
            <ul class="list-unstyled">
              @for (dataset of datasets; track dataset) {
                <li>
                  <a href="{{dataset.link}}">
                    {{dataset.title}}
                  </a>
                </li>
              }
            </ul>
          </div>
        }
      </div>
    }
    <!-- END TAMU Customization - dataset links -->

    <!-- TAMU Customization - Associated publication links -->
    @if (hasAssociatedPublicationURI(object)) {
      <div class="simple-item-view-element">
        <h2 class="simple-view-element-header fs-4">{{"item.page.associated-publications" | translate}}</h2>
        <div class="mb-2" class="uri-truncate">
          <ul class="list-unstyled">
            @for (uri of object.allMetadata('dc.relation.associatedPublicationURI'); track uri) {
              <li>
                <a href="{{uri.value}}" class="uri-truncate">
                  {{uri.value}}
                </a>
              </li>
            }
          </ul>
        </div>
      </div>
    }
    <!-- END TAMU Customization - Associated publication links -->

    <!-- TAMU Customization - RDC dataset link -->
    @if (object.firstMetadataValue('dcterms.source'); as source) {
      <div class="mt-3 mb-2">
        <a class="btn btn-outline-primary" href="{{source}}" role="button">
          {{"item.page.source" | translate}}
        </a>
      </div>
    }
    <!-- END TAMU Customization - RDC dataset link -->

    <ds-item-page-uri-field [item]="object"
      [fields]="['coar.notify.endorsedBy']"
      [label]="'item.page.endorsement'">
    </ds-item-page-uri-field>
    <ds-item-page-uri-field [item]="object"
      [fields]="['datacite.relation.isReviewedBy']"
      [label]="'item.page.review'">
    </ds-item-page-uri-field>
    <ds-item-page-uri-field [item]="object"
      [fields]="['datacite.relation.isSupplementedBy']"
      [label]="'item.page.supplemented'">
    </ds-item-page-uri-field>
    <ds-item-page-uri-field [item]="object"
      [fields]="['datacite.relation.isReferencedBy']"
      [label]="'item.page.referenced'">
    </ds-item-page-uri-field>
    <ds-item-page-cc-license-field [item]="object" [variant]="'full'">
    </ds-item-page-cc-license-field>
    <div>
      <a class="btn btn-outline-primary" [routerLink]="[itemPageRoute + '/full']" role="button" role="button" tabindex="0">
        <i class="fas fa-info-circle"></i> {{"item.page.link.full" | translate}}
      </a>
    </div>
  </div>
</div>
